[submodule "dependencies/gtest"]
	path = dependencies/gtest
	url = https://github.com/google/googletest.git
[submodule "dependencies/cmake-modules"]
	path = dependencies/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
